---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>

  <!-- START OF RELEVANT PART -->
  <div
    class="just-comments"
    data-allowguests="true"
    data-apikey="https://service.just-comments.com/prod/v2/comments?pageId=YOUR_PAGE_ID&apiKey=YOUR_API_KEY">
  </div>
  <!-- END OF RELEVANT PART -->

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
<div class="fb-share-button" data-href="https://codedeman.github.io" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcodedeman.github.io%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

</article>
<!-- {% include  disqus.html %} -->
<div class="fb-comments" data-href="https://codedeman.github.io" data-width="" data-numposts="5"></div>


